@model App.Entities.Student

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login Form</title>
    <link rel="stylesheet" href="~/css/student-create.css" asp-append-version="true" />
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <p style="color:green"> @ViewBag.Message </p>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color:red"> @ViewBag.ErrorMessage </p>
    }
    @if (TempData != null)
    {
        <p style="color:red"> @TempData["ErrorMessage"] </p>
    }
    <div class="container2">
        <h2>Öğrenci Giriş Sayfası</h2>
        <form asp-action="StudentLogin" method="post">
            <label for="Number">Number:</label>
            <input type="number" id="Number" name="Number" value="@ViewBag.NewAccountNumber" required>

            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required>

            <button type="submit" asp-action="StudentLogin">Giriş Yap</button>
        </form>
    </div>
</body>


