.container2 {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.dropdown-container {
    text-align: center;
}

label {
    margin-bottom: 10px;
}

/* Seçim Kutusu Stilleri */
select {
    padding: 10px;
    font-size: 16px;
}

    /* Seçildiğinde Renk Değişimi */
    select:focus {
        border: 2px solid #3498db;
        outline: none;
    }
